* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.searchrid-wrapper {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

@media (max-width: 600px) {
  .searchrid-wrapper {
    width: 600px;
  }
}

.searchrid__input {
  height: 3vh;
  width: 70%;
  margin-top: 10px;
  padding: 0px 5px 0px 10px;
  background-color: aqua;
  border: none;
  border-radius: 3px;
  font-size: 20px;
}

.searchrid__input:focus {
  outline: none;
}

.searchrid-buttons {
  height: 2vh;
  width: 70%;
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}

.searchrid-buttons__button {
  margin-left: 5px;
  border-radius: 3px;
  border: none;
  outline: none;
  background-color: lightblue;
  font-size: 15px;
}

.searchrid-buttons__button:hover {
  background-color: aqua;
}

.searchrid-wrapper__search-results {
  width: 70%;
  min-height: 4vh;
  margin-top: 5px;
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  font-size: 20px;
}
